div{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

input{
  border-radius: 10rem 0 0 10rem;
  border: none;
  height: 3rem;
  width: 30rem;
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}

div button{
  color: rgb(153, 193, 207);
  height: 3rem;
  width: 8rem;
  font-size: 1rem;
  border-radius: 0 10rem 10rem 0;
  border: none;
  background-color: #81adbe;
  color: white;
  opacity: 1;
  outline: none;
}

div button:hover{
  opacity:0;
  cursor: pointer;
}
